
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.d-home-eGy {
  box-sizing: border-box;
  padding-bottom: 4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e1d4c9;
}
.d-home-eGy .auto-group-8wnh-34D {
  box-sizing: border-box;
  padding: 2rem 3.9rem 10rem 4rem;
  width: 100%;
  row-gap: 10rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs {
  margin-right: 0.1rem;
  width: 136rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 0.6rem 0rem 0.591rem 0.425rem;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .logo-HmB {
  margin-right: 36.9238rem;
  width: 9.2514rem;
  height: 4.8088rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ {
  margin: 1rem 36.6rem 0.809rem 0rem;
  height: calc(100% - 1.8088rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-jt5 {
  margin-right: 4rem;
  width: 11.7rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-jt5 .link-dMB {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-jt5 .line--4xH {
  margin: 0 5.8rem;
  width: calc(100% - 11.6rem);
  height: 0.2rem;
  background-color: rgba(64, 63, 61, 0);
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-z5F {
  margin-right: 2.7rem;
  width: 6.1rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-z5F .link-Xay {
  margin-bottom: 0.4rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-z5F .line--c6d {
  margin: 0rem 3.65rem 0rem 2.35rem;
  width: calc(100% - 6rem);
  height: 0.2rem;
  background-color: rgba(64, 63, 61, 0);
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-84y {
  margin-right: 4rem;
  width: 8.6rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-84y .link-F9b {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-84y .line--ks3 {
  margin: 0 4.25rem;
  width: calc(100% - 8.5rem);
  height: 0.2rem;
  background-color: rgba(64, 63, 61, 0);
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-J7s {
  width: 8.5rem;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-J7s .link-TFf {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .nav-cYZ .menu-item-J7s .line--a5P {
  margin: 0 4.2rem;
  width: calc(100% - 8.4rem);
  height: 0.2rem;
  background-color: rgba(64, 63, 61, 0);
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .menu-item-WDw {
  margin: 1rem 0rem 0.809rem 0rem;
  width: 7.2rem;
  height: calc(100% - 1.8088rem);
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .menu-item-WDw .link-2i5 {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding-right: 0.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .menu-item-WDw .link-2i5 .link-ajb {
  margin-right: 1.05rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .menu-item-WDw .link-2i5 .coffee-cup-KSH {
  margin-bottom: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .header-menu-Pvh .menu-item-WDw .line--ezM {
  margin: 0 3.55rem;
  width: calc(100% - 7.1rem);
  height: 0.2rem;
  background-color: rgba(64, 63, 61, 0);
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .container-SfK {
  box-sizing: border-box;
  padding: 10rem;
  width: 100%;
  height: 64.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/container-bg.png');
  border-radius: 4rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .container-SfK .offer-mxV {
  width: 52.2rem;
  height: 100%;
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .container-SfK .offer-mxV .enjoy-premium-coffee-at-our-charming-cafe-Xgm {
  margin-bottom: 4.1rem;
  max-width: 51.5rem;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.0499999788;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .container-SfK .offer-mxV .enjoy-premium-coffee-at-our-charming-cafe-Xgm .enjoy-premium-coffee-at-our-charming-cafe-Xgm-sub-0 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.0499999788;
  font-style: italic;
  color: #b0907a;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .container-SfK .offer-mxV .enjoy-premium-coffee-at-our-charming-cafe-Xgm .enjoy-premium-coffee-at-our-charming-cafe-Xgm-sub-1 {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 1.0499999788;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .container-SfK .offer-mxV .say {
  margin-bottom: 4rem;
  max-width: 52.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .header-HMs .container-SfK .offer-mxV .button-primary-MbF {
  width: 20rem;
  height: 6.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1d4c9;
  border-radius: 10rem;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD {
  margin: 0rem 0.5rem 0rem 0.4rem;
  width: calc(100% - 0.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .choose-your-favorite-coffee-6SM {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .choose-your-favorite-coffee-6SM .choose-your-favorite-coffee-6SM-sub-0 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .choose-your-favorite-coffee-6SM .choose-your-favorite-coffee-6SM-sub-1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  font-style: italic;
  color: #b0907a;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .choose-your-favorite-coffee-6SM .choose-your-favorite-coffee-6SM-sub-2 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm {
  margin-bottom: 4rem;
  width: 100%;
  height: 64rem;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .button-icon-dark-n6D {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB {
  box-sizing: border-box;
  padding-left: 33.6rem;
  width: 115.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-qqB {
  margin-right: 50.15rem;
  width: 48rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-qqB .coffee-slider-1-Bu3 {
  margin-bottom: 2rem;
  width: 48rem;
  height: 48rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-qqB .description-KkM {
  margin: 0 2.2rem;
  width: calc(100% - 4.4rem);
  row-gap: 1.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-qqB .description-KkM .smores-frappuccino-rkH {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-qqB .description-KkM .this-new-drink-takes-an-espresso-and-mixes-it-with-brown-sugar-and-cinnamon-before-being-topped-with-oat-milk-BXf {
  max-width: 43.6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-qqB .description-KkM .item-550-4rM {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-CSm {
  margin-right: 41.35rem;
  width: 82.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-CSm .coffee-slider-2-Xjw {
  margin-bottom: 2rem;
  width: 48rem;
  height: 48rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-CSm .description-T7o {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-CSm .description-T7o .caramel-macchiato-Qoj {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-CSm .description-T7o .fragrant-and-unique-classic-espresso-with-rich-caramel-peanut-syrup-with-cream-under-whipped-thick-foam-Kvh {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-CSm .description-T7o .item-500-DmB {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-ZKF {
  width: 65.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-ZKF .coffee-slider-3-hwF {
  margin-bottom: 2rem;
  width: 48rem;
  height: 48rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-ZKF .description-3kD {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-ZKF .description-3kD .ice-coffee-Qqf {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-ZKF .description-3kD .a-popular-summer-drink-that-tones-and-invigorates-prepared-from-coffee-milk-and-ice-Ygy {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .row-slider-7uB .content-ZKF .description-3kD .item-450-3dj {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .slider-qgm .button-icon-dark-YaV {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .controls-5aR {
  margin: 0 60.4rem;
  width: calc(100% - 120.8rem);
  height: 0.4rem;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .controls-5aR .control-Cf3 {
  width: 4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #665f55;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .controls-5aR .control-9aH {
  width: 4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #c1b6ad;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .container-ZxD .d-slider-gJ5 .controls-5aR .control-uJZ {
  width: 4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #c1b6ad;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b {
  width: 100%;
  height: 132.5rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .resource-is-the-perfect-and-cozy-place-where-you-can-enjoy-a-variety-of-hot-beverages-relax-catch-up-with-friends-or-get-some-work-done-MgM {
  margin-bottom: 4rem;
  max-width: 136.1rem;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .resource-is-the-perfect-and-cozy-place-where-you-can-enjoy-a-variety-of-hot-beverages-relax-catch-up-with-friends-or-get-some-work-done-MgM .resource-is-the-perfect-and-cozy-place-where-you-can-enjoy-a-variety-of-hot-beverages-relax-catch-up-with-friends-or-get-some-work-done-MgM-sub-0 {
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .resource-is-the-perfect-and-cozy-place-where-you-can-enjoy-a-variety-of-hot-beverages-relax-catch-up-with-friends-or-get-some-work-done-MgM .resource-is-the-perfect-and-cozy-place-where-you-can-enjoy-a-variety-of-hot-beverages-relax-catch-up-with-friends-or-get-some-work-done-MgM-sub-1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  font-style: italic;
  color: #b0907a;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .resource-is-the-perfect-and-cozy-place-where-you-can-enjoy-a-variety-of-hot-beverages-relax-catch-up-with-friends-or-get-some-work-done-MgM .resource-is-the-perfect-and-cozy-place-where-you-can-enjoy-a-variety-of-hot-beverages-relax-catch-up-with-friends-or-get-some-work-done-MgM-sub-2 {
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF {
  margin-right: 0.1rem;
  width: calc(100% - 0.1rem);
  height: 106rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR {
  margin-right: 4rem;
  width: 66rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-4Mo {
  margin-bottom: 4rem;
  width: 100%;
  height: 59rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-4Mo .about-4-Cyo {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -6.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-4Mo .about-3-wAh {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -6.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-4Mo .about-1--UAd {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -6.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-Bqj {
  width: 100%;
  height: 43rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-Bqj .about-4-jsF {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-Bqj .about-3-syT {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-1-JtR .box-Bqj .about-2-pNu {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-2-Xo7 {
  width: 66rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-2-Xo7 .box-VE9 {
  margin-bottom: 4rem;
  width: 100%;
  height: 43rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-2-Xo7 .box-VE9 .about-4-2js {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-2-Xo7 .box-VE9 .about-3-ZUu {
  width: 72.6rem;
  height: 72.6rem;
  position: absolute;
  left: -3.3rem;
  top: -14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-2-Xo7 .box-tGH {
  width: 100%;
  height: 59rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 2rem;
  flex-shrink: 0;
}
.d-home-eGy .auto-group-8wnh-34D .about-S3b .container-o93 .images-ybF .column-2-Xo7 .box-tGH .about-4-SYh {
  width: 72.6rem;
  height: 72.6rem;
  object-fit: cover;
  vertical-align: top;
}
.d-home-eGy .mobile-app-ZtD {
  margin-bottom: 10rem;
  box-sizing: border-box;
  padding: 0 4rem;
  width: 100%;
  height: 63rem;
  overflow: hidden;
  position: relative;
  border-radius: 4rem;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT {
  margin: 14.4rem 13rem 14.4rem 0rem;
  width: 60rem;
  height: calc(100% - 28.8rem);
  row-gap: 4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .download-our-apps-to-start-ordering-mzH {
  max-width: 56rem;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .download-our-apps-to-start-ordering-mzH .download-our-apps-to-start-ordering-mzH-sub-0 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  font-style: italic;
  color: #b0907a;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .download-our-apps-to-start-ordering-mzH .download-our-apps-to-start-ordering-mzH-sub-1 {
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .download-the-resource-app-today-and-experience-the-comfort-of-ordering-your-favorite-coffee-from-wherever-you-are-w1b {
  max-width: 60rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB {
  margin-right: 18rem;
  width: calc(100% - 18rem);
  height: 6.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-app-store-AQ9 {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 1.2rem 5.8rem 1.2rem 2.465rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #665f55;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-app-store-AQ9 .icon-62u {
  margin: 0rem 1.294rem 0.075rem 0rem;
  width: 2.6409rem;
  height: 3.1648rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-app-store-AQ9 .text-1Qm {
  width: 7.8rem;
  height: 100%;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-app-store-AQ9 .text-1Qm .available-on-the-AHf {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-app-store-AQ9 .text-1Qm .app-store-g17 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-google-play-nK3 {
  box-sizing: border-box;
  padding: 1.2rem 4.4rem 1.2rem 2.318rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: solid 0.1rem #665f55;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-google-play-nK3 .icon-76R {
  margin: 0.039rem 1.047rem 0rem 0rem;
  width: 3.0343rem;
  height: 3.2793rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-google-play-nK3 .text-pWd {
  width: 9.2rem;
  height: 100%;
  flex-shrink: 0;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-google-play-nK3 .text-pWd .available-on-mgm {
  margin-bottom: 0.2rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .offer-fRT .buttons-pbB .button-google-play-nK3 .text-pWd .google-play-hKX {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #403f3d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.d-home-eGy .mobile-app-ZtD .container-6t9 .mobile-screens-bfo {
  width: 63rem;
  height: 63rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh {
  margin: 0 4rem;
  box-sizing: border-box;
  padding: 10rem 36.8rem 10rem 10rem;
  width: calc(100% - 8rem);
  height: 45rem;
  display: flex;
  align-items: center;
  background-color: #665f55;
  border-radius: 4rem;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .offer-qa9 {
  margin-right: 13.3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .offer-qa9 .sip-savor-smile-its-coffee-time-zT3 {
  margin-bottom: 4rem;
  max-width: 49.7rem;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .offer-qa9 .sip-savor-smile-its-coffee-time-zT3 .sip-savor-smile-its-coffee-time-zT3-sub-0 {
}
.d-home-eGy .container-Krh .offer-qa9 .sip-savor-smile-its-coffee-time-zT3 .sip-savor-smile-its-coffee-time-zT3-sub-1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  font-style: italic;
  color: #b0907a;
  font-family: Inter, 'Source Sans Pro';
}
.d-home-eGy .container-Krh .offer-qa9 .socials-Js3 {
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .offer-qa9 .socials-Js3 .button-icon-light-4bK {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .offer-qa9 .socials-Js3 .button-icon-light-bbF {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .offer-qa9 .socials-Js3 .button-icon-light-jSZ {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  border-radius: 10rem;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV {
  margin: 3.2rem 0rem 3rem 0rem;
  width: 26.2rem;
  height: calc(100% - 6.2rem);
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contact-us-BpM {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-p6d {
  margin-bottom: 1.4rem;
  width: 18.3rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-p6d .link-MMT {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding-left: 0.3333rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-p6d .link-MMT .pin-alt-tcH {
  margin: 0.167rem 1.133rem 0rem 0rem;
  width: 1.3333rem;
  height: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-p6d .link-MMT .green-rd-la-QKj {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.paghes {
    border-radius: 150px;
    width: 120rem;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-p6d .line--Xv9 {
  margin: 0rem 9.15rem 0rem 9.05rem;
  width: calc(100% - 18.2rem);
  height: 0.2rem;
  background-color: rgba(225, 212, 201, 0);
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-SXK {
  width: 17.6rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-SXK .link-atR {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding-left: 0.167rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-SXK .link-atR .phone-L6u {
  margin: 0.167rem 0.967rem 0rem 0rem;
  width: 1.6663rem;
  height: 1.6667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-SXK .link-atR .green-rd-la-TBX {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .auto-group-dz3x-HcV .link-item-SXK .line--njb {
  margin: 0rem 8.8rem 0rem 8.7rem;
  width: calc(100% - 17.5rem);
  height: 0.2rem;
  background-color: rgba(225, 212, 201, 0);
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .link-item-i7T {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .link-item-i7T .link-sm3 {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding-left: 0.1667rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .link-item-i7T .link-sm3 .clock-2dw {
  margin: 0.167rem 0.967rem 0rem 0rem;
  width: 1.6667rem;
  height: 1.6667rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .link-item-i7T .link-sm3 .green-rd-la-AVF {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #e1d4c9;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.d-home-eGy .container-Krh .contacts-info-GSV .contacts-vmw .link-item-i7T .line--JLZ {
  margin: 0 13.05rem;
  width: calc(100% - 26.1rem);
  height: 0.2rem;
  background-color: rgba(225, 212, 201, 0);
  flex-shrink: 0;
}
